__pycache__
.ipynb_checkpoints
.DS_Store
*.zip
.mscbackup
.pytest_cache
.vscode

figures/
tmp/
env/
tbr
playground/

# Exclude output
corpora/*/output
# corpora/*/output/**
# !corpora/*/output/latest/

# Excluded corpora
corpora/smith