# Cache etc
__pycache__
.ipynb_checkpoints
.DS_Store
.mscbackup
.pytest_cache
.vscode

# The local python environment
env/

# Environment variables
.env

# Local directories
figures/ignored
tmp/
playground/
excluded-notebooks/

# Docs
docs/build
