__pycache__
.ipynb_checkpoints
.DS_Store
*.zip
.mscbackup
.pytest_cache
.vscode

figures/ignored
tmp/
env/
tbr
playground/
excluded-notebooks/

# Exclude output
corpora/*/output
# corpora/*/output/**
# !corpora/*/output/latest/

# Excluded corpora
corpora/smith
corpora/cantuscorpus

